$ git remote add origin https://github.com/atiqObs/BumpedIn.git
# Creates a remote named "origin" pointing at your GitHub repo


$ git push origin master
# Sends your commits in the "master" branch to GitHub
